In [9]:
#import main table to data frame
import pandas as pd


main_df = pd.read_csv("main_ready.csv")

,ID,TITLE,RELEASE_YEAR,DIRECTOR_NAME,PRODUCER_NAME,STUDIO,notes_one,GENRE,additional_notes
0,H2,Number Thirteen,1922,D:Hitchcock,P:Hitchcock,St:Islington; SD:Famous,sbw,NaN,NaN
1,H3,Woman to Woman,1922,D:Hitchcock,P:Balcon,St:B-S-F; SD:Wardour,sbw,Dram,NaN
2,H4,The Passionate Adventure,1924,D:Hitchcock,P:Balcon,St:Gainsborough; SD:GaumontD,sbw,NaN,NaN
3,H5,The Blackguard,1925,D:Hitchcock,P:Balcon,St:UFA; SD:Wardour,sbw,NaN,NaN
4,H7,The Pleasure Garden,1925,D:Hitchcock,P:Balcon,St:Gainsborough and Emelka; SD:Wardour,sbw,Dram,H

In [19]:
print(len(main_df['ID']))

11467

In [23]:
# remove rows with duplicate IDs
main_df = main_df.drop_duplicates(subset=['ID'])
print(len(main_df['ID']))

11413

In [24]:
#add column for just director_id and strip numbers from movie id
import string
main_df['DIRECTOR_ID']= main_df['ID'].str.rstrip(string.digits)

In [25]:
#drop redundant columns and move directed_by relationship to new df

main_to_keep = main_df[['ID', 'TITLE', 'RELEASE_YEAR', 'PRODUCER_NAME', 'STUDIO', 'GENRE']]

directed_by_to_keep = main_df[['ID', 'DIRECTOR_ID']]

In [26]:
# and save
main_to_keep.to_csv('main_clean.csv')
directed_by_to_keep.to_csv('directed_by_clean.csv')