In [2]:
# import libraries and data
import pandas as pd


people_df = pd.read_csv("people_ready.csv")

In [3]:
people_df.head()

,DIRECTOR_NAME,INVOLVEMENT,DIR_ID,YEARS_ACTIVE,LAST_NAME,FIRST NAME,NOTES_1,NOTES_2
0,Abel,DPW,JeA,@1971,Abel,Jeanne,NaN,Un
1,Abbott,AWDP,GgA,@1929-1958,Abbott,George,1887,Un
2,Abrahams,WD,xAb,@1948,Abrahams,NaN,[1],Un
3,J.Abrahams,WD,JiA,@1980-1988,Abrahams,Jim,NaN,Un
4,Jeffrey Abrams,W,NaN,@1991-1992,Abrams,Jeffrey,1967,Un

In [5]:
len(people_df['DIR_ID'])

3313

In [7]:
# remove rows with duplicate IDs
people_df = people_df.drop_duplicates(subset=['DIR_ID'])
print(len(people_df['DIR_ID']))

2975

In [8]:
# oh, that was more duplicates than I had anticipated...
# let's lose the @ from years_active
people_df['YEARS_ACTIVE'] = people_df['YEARS_ACTIVE'].str.strip('@')
people_df.head()

,DIRECTOR_NAME,INVOLVEMENT,DIR_ID,YEARS_ACTIVE,LAST_NAME,FIRST NAME,NOTES_1,NOTES_2
0,Abel,DPW,JeA,1971,Abel,Jeanne,NaN,Un
1,Abbott,AWDP,GgA,1929-1958,Abbott,George,1887,Un
2,Abrahams,WD,xAb,1948,Abrahams,NaN,[1],Un
3,J.Abrahams,WD,JiA,1980-1988,Abrahams,Jim,NaN,Un
4,Jeffrey Abrams,W,NaN,1991-1992,Abrams,Jeffrey,1967,Un

In [10]:
# ditch the notes columns and save
people_to_keep = main_to_keep = people_df[['DIR_ID', 'DIRECTOR_NAME', 'YEARS_ACTIVE', 'LAST_NAME', 'FIRST NAME', 'INVOLVEMENT']]
people_to_keep.to_csv('people_clean.csv')