In [ ]:
pd.merge(frame_1, frame_2, left_on='county_ID', right_on='countyid')

In [5]:
#import libraries and tables
import pandas as pd

actors_df = pd.read_csv("actors_clean.csv")
name_id = actors_df[['ACTOR_ID', 'STAGE_NAME']] # only keep the actor_id and stage name for merge

casts_df = pd.read_csv('casts_ready.csv')

In [10]:
#merge
merged_df = pd.merge(casts_df, name_id, left_on='ACTOR', right_on='STAGE_NAME')

In [11]:
# keep  non-redundant columns
casts_to_keep = merged_df[['MOVIE_ID', 'ACTOR_ID', 'ROLE_TYPE', 'ROLE']]

In [12]:
casts_to_keep.head()

  MOVIE_ID  ACTOR_ID ROLE_TYPE                   ROLE
0     AA13      2782       Inn  R:flower girl "Eliza"
1   ArH218      2782       Und                    RU:
2     CR19      2782       Und       R:planter's wife
3    DeM20      2782       Und                    RU:
4     DLy2      2782       Und                    RU:

In [13]:
#save
casts_to_keep.to_csv('casts_clean.csv')